---
---

$accent: #6C9557;
$body-text: #474645;
$header-text: #474645;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #272826;
}

.topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
  padding-left: 50px;
  padding-right: 50px;

  .nav {
    font-weight: 700;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      margin-right: 32px;
      padding-bottom: 8px;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        border-bottom: 2px solid #fff;
      }
    }

    &.dark {
      a {
        color: $body-text;

        &.active {
          border-bottom: 2px solid $body-text;
        }
      }
    }
  }
}

.page-wrapper {
  position: relative;
  height: 100%;
  min-height: 100%;
  margin-bottom: 100vh;
  z-index: 200;
  background-color: #fff;
}

.expand {
  width: 100%;
}

.container {
  max-width: 1400px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

// General
@import "type";
@import "buttons";

// Utilities
@import "utilities/flex";
@import "utilities/spacing";

// Shared
@import "hero";
@import "footer";

// Home
@import "feature";
@import "about";
@import "work";
@import "clients";

// Misc
@import "colors";

// Pages
@import "pages/services";
@import "pages/post";
