.contact-wrapper {
  margin-top: 3em;
  margin-bottom: 3em;

  hr {
    width: rem(250px);
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.contact-footer {
  margin-top: 3em;
  margin-bottom: 6rem;

  p {
    font-size: 1.2rem;
    position: relative;
    display: inline-block;

    @include mq('small') {
      font-size: 1.625rem;
    }

    span {
      position: absolute;
      right: -108px;
      bottom: -40px;
    }
  }
}
