.post-content {
  padding-left: rem(50px);
  padding-right: rem(50px);
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include mq('medium') {
    flex-direction: row;
  }

  .post-images {
    width: 100%;
    margin-bottom: rem(24px);

    @include mq('medium') {
      width: 55%;
      margin-right: 4%;
    }
  }

  .post-copy {
    width: 100%;

    @include mq('medium') {
      width: 41%;
    }
  }

  .post-title {
    font-size: rem(28px);
  }

  .post-desc {
    font-size: rem(46px);
    line-height: 1.25;
    max-width: 80%;
    margin-bottom: 80px;
  }

  .post-hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50%;
  }

  .square {
    position: relative;
    width: 100%;
    background-size: cover;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  .image-row {
    display: flex;
    margin-bottom: 4%;

    .image-col {
      width: 48%;

      &:first-child {
        margin-right: 4%;
      }
    }
  }
}
