<footer class="footer">
  <a href="/" class="footer-logo mb-5">
    <img src="/images/logo.svg" alt="">
  </a>

  <div class="social-links">
    <a href="#">
      <img src="/images/linkedin.svg" alt="">
    </a>
    <a href="#">
      <img src="/images/twitter.svg" alt="">
    </a>
    <a href="#">
      <img src="/images/instagram.svg" alt="">
    </a>
  </div>

  <div class="company-info my-4">
    <p>1920 N. Coit Road<span>|</span>Suite 200-167<span>|</span>Richardson, Texas<span>|</span>75080</p>
  </div>

  <p class="copyright">© Copyright 2017 - Innovent</p>
</footer>

<script src="https://unpkg.com/wallop@2.4.1"></script>
<script src="/js/script.js"></script>
