<div class="hero">
  {% include nav.html %}

  <div class="Wallop">
    <div class="Wallop-list">
      {% for item in page.slides %}
        <div class="Wallop-item {% if forloop.index == 1 %}Wallop-item--current{% endif %}">
          <h1>{{ item | remove: "." }}<span class="text-accent">.</span></h1>
        </div>
      {% endfor %}
    </div>

    <hr>

    <div class="Wallop-pagination">
      {% for item in page.slides %}
        <span class="Wallop-dot {% if forloop.index == 1 %}Wallop-dot--current{% endif %}">
          <svg viewBox="0 0 6 6" xmlns="http://www.w3.org/2000/svg">
            <circle cx="3" cy="3" r="3" fill-rule="evenodd"/>
          </svg>
        </span>
      {% endfor %}
    </div>
  </div>

  <div class="hero-split">
  </div>
</div>
