<h1>Please apply below:</h1>
<hr>

<form name="careers" action="thank-you" netlify>
  <div class="input-group">
    <input type="text" name="name" placeholder="Name">
    <span class="form-bottom"></span>
    <span class="form-left"></span>
    <span class="form-right"></span>
  </div>

  <div class="input-group">
    <input type="tel" name="phone" placeholder="Phone">
    <span class="form-bottom"></span>
    <span class="form-left"></span>
    <span class="form-right"></span>
  </div>

  <div class="input-group">
    <input type="text" name="email" placeholder="Email">
    <span class="form-bottom"></span>
    <span class="form-left"></span>
    <span class="form-right"></span>
  </div>

  <div class="mt-6">
    <button type="submit" class="btn">Send</button>
  </div>
</form>
