.btn-outline {
  width: auto;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 16px 30px;
  border: 1px solid #fff;
  cursor: pointer;
  background-image: none;
  background-color: transparent;
  text-decoration: none;
  font-size: inherit;
  font-size: 22px;
  font-weight: 700;
  color: #fff;

}