// HERO
.hero {
  position: relative;
  height: 126vh;
  background-color: #272826;
  background-attachment: fixed;
  background-image: url('/images/heros/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  will-change: all;

  @include mq('small') {
    height: 154vh;
  }

  @include mq('medium') {
    height: 174vh;
  }

  h1 {
    margin: 0;
    font-size: rem(46px);
    color: #fff;
  }

  .slider {
    height: 60vh;
    display: flex;
    padding-left: rem(50px);
    padding-right: rem(50px);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .page-header {
    height: 70vh;
    display: flex;
    padding-left: rem(50px);
    padding-right: rem(50px);
    justify-content: center;
    flex-direction: column;
    color: #fff;

    hr {
      width: 250px;
      margin-top: 24px;
      margin-bottom: 24px;
    }

    p {
      max-width: 75ch;
      color: #fff;
    }
  }
}

.hero-split {
	position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 320px;
  will-change: auto;
  background: transparent url('/images/hero.svg') no-repeat bottom center;
  background-size: cover;

  @include mq('small') {
    min-height: 480px;
  }

  @include mq('medium') {
    min-height: 642px;
  }
}
