// HERO
.hero {
  position: relative;
  height: 126vh;
  background-color: #272826;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  will-change: all;

  @include mq('small') {
    height: 154vh;
  }

  @include mq('medium') {
    height: 174vh;
    background-attachment: fixed;
  }

  h1 {
    margin: 0;
    font-size: rem(32px);
    color: #fff;

    @include mq('medium') {
      font-size: rem(46px);
    }
  }

  .slider,
  .page-header {
    height: 55vh;
    padding-left: rem(24px);
    padding-right: rem(24px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;

    @include mq('medium') {
      padding-left: rem(50px);
      padding-right: rem(50px);
    }
  }

  .slider {
    align-items: center;
  }

  .page-header {
    text-align: left;
    align-items: flex-start;

    @include mq('medium') {
      padding-left: rem(50px);
      padding-right: rem(50px);
    }

    hr {
      width: 250px;
      margin-top: 24px;
      margin-bottom: 24px;

    }

    p {
      max-width: 75ch;
      color: #fff;
    }
  }
}

.hero-split {
	position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 100%;
  min-height: rem(320px);
  will-change: auto;
  background: transparent url('/images/hero.svg') no-repeat bottom center;
  background-size: cover;

  @include mq('small') {
    min-height: rem(480px);
  }

  @include mq('medium') {
    min-height: rem(653px);
  }
}
