$body-text: #474645;
$header-text: #474645;

body {
  color: $body-text;
}

h1, h2, h3, h4, h5, h6 {
  color: $header-text;
  line-height: 1.1;
}

h1, .h1 {
  font-size: 52px;
}

h2, .h2 {
  font-size: 34px;
}

h3, .h3 {
  font-size: 26px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
}

hr {
  border: 0;
  border-top: 4px solid #729C5B;
}

// Helpers
.text-light { font-weight: 300; }
.text-normal { font-weight: 400; }
.text-bold { font-weight: 700; }