@mixin workSelector {
  &::before {
    @content;
  }

  &::after {
    @content;
  }

  figcaption {
    &::before {
      @content;
    }

    &::after {
      @content;
    }
  }
}

.c-work-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include mq('small') {
    flex-direction: row;
  }

  .work-block {
    height: 100vw;
    text-align: center;
    display: flex;
    color: #fff;
    background-color: #fff;

    @include mq('small') {
      width: 50vw;
      height: 50vw;
    }

    @include mq('large') {
      width: 33.333vw;
      height: 33.333vw;
    }

    a {
      display: block;
    }

    &_figure {
      position: relative;
      max-width: 100%;
      height: 100%;
      display: inline-block;

      &:hover {
        @include workSelector {
          transform: translate(0, 0) scale(1);
          opacity: 1;
        }

        .work-caption {
          opacity: 1;
          transition-delay: 0.35s;
        }

        figcaption {
          &::before {
            z-index: -1;
          }

          &::after {
            z-index: -1;
          }
        }
      }

      @include workSelector {
        opacity: 0;
        position: absolute;
        content: '';
        height: 50%;
        width: 50%;
        transition: all .25s ease-out;
      }

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }

      figcaption {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 3;

        .work-caption {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          color: #fff;
          padding: 33px;
          opacity: 0;
          transition-delay: 0s;
          transition: all .25s ease-out;
        }

        &::before {
          top: 0;
          left: 0;
          transform: translateX(100%);
        }

        &::after {
          bottom: 0;
          right: 0;
          transform: translateX(-100%);
        }
      }

      &::before {
        top: 0;
        right: 0;
        transform: translateY(100%);
      }

      &::after {
        bottom: 0;
        left: 0;
        transform: translateY(-100%);
      }
    }

    hr {
      width: 102px;
      margin: 1.5rem auto;
      border-color: #fff;
    }
  }

  // Hover Modifiers
  .work-block:nth-child(1) {
    .work-block_figure {
      @include workSelector {
        background-color: #008D97;
      }
    }
  }

  .work-block:nth-child(2) {
    .work-block_figure {
      @include workSelector {
        background-color: #1D8049;
      }
    }
  }

  .work-block:nth-child(3) {
    .work-block_figure {
      @include workSelector {
        background-color: #4E4D50;
      }
    }
  }

  .work-block:nth-child(4) {
    .work-block_figure {
      @include workSelector {
        background-color: #023833;
      }
    }
  }

  .work-block:nth-child(5) {
    .work-block_figure {
      @include workSelector {
        background-color: #E16A2C;
      }
    }
  }

  .m-contact {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: rem(30px);
    background-color: #7FA240;
  }
}
