.about {
  margin-top: rem(70px);
  margin-bottom: rem(70px);
  display: flex;
  flex-direction: column;

  @include mq('medium') {
    flex-direction: row;
  }

  .about-left {
    margin-right: 4%;
    margin-bottom: rem(16px);
    width: 28%;
  }

  .about-right {

    @include mq('medium') {
      margin-left: 4%;
      width: 64%;
    }

    hr {
      width: rem(251px);
      margin-top: rem(25px);
      margin-bottom: rem(25px);
    }

    p {
      font-size: rem(18px);
      line-height: 1.5;
    }

    .about-vert-spacer {
      margin-left: rem(8px);
      margin-right: rem(8px);
    }
  }

  .about-copy {

    p {
      margin-bottom: rem(24px);
    }
  }
}
