.btn {
  -webkit-appearance: none;
  width: auto;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: rem(10px) rem(14px);
  margin-bottom: rem(16px);
  cursor: pointer;
  border: 0;
  background-image: none;
  background-color: #87A04E;
  text-decoration: none;
  font-size: rem(18px);
  font-family: inherit;
  color: #fff;
}

.btn-outline {
  width: auto;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: rem(16px) rem(30px);
  border: 1px solid #fff;
  cursor: pointer;
  background-image: none;
  background-color: transparent;
  text-decoration: none;
  font-size: inherit;
  font-size: rem(22px);
  font-weight: 700;
  color: #fff;
}
