$accent: #6C9557;
$body-text: #474645;
$header-text: #474645;

$breakpoints: (
  'small': ( min-width: 544px ),
  'medium': ( min-width: 767px ),
  'large': ( min-width: 992px )
) !default;

@import "mixins";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 85%;

  @include mq('small') {
    font-size: 90%;
  }

  @include mq('medium') {
    font-size: 100%;
  }
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #272826;
}

.topbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(42px);
  padding-left: rem(20px);
  padding-right: rem(20px);

  @include mq('medium') {
    flex-direction: row;
  }

  @include mq('large') {
    padding-top: rem(42px);
    padding-left: rem(50px);
    padding-right: rem(50px);
  }

  .logo {
    margin-bottom: rem(30px);
  }

  .nav {
    font-weight: 700;

    a {
      color: #fff;
      text-decoration: none;
      font-size: rem(18px);
      margin-right: rem(32px);
      padding-bottom: rem(8px);

      &:last-child {
        margin-right: 0;
      }

      &.active {
        border-bottom: 2px solid #fff;
      }
    }

    &.dark {
      a {
        color: $body-text;

        &.active {
          border-bottom: 2px solid $body-text;
        }
      }
    }
  }
}

.page-wrapper {
  position: relative;
  height: 100%;
  min-height: 100%;
  margin-bottom: 100vh;
  z-index: 200;
  background-color: #fff;
}

.expand {
  width: 100%;
}

.container {
  max-width: 1400px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.w-50 {
  width: 50%;
}

// General
@import "type";
@import "buttons";
@import "forms";

// Utilities
@import "utilities/flex";
@import "utilities/spacing";

// Shared
@import "hero";
@import "footer";

// Home
@import "feature";
@import "about";
@import "work";
@import "clients";

// Misc
@import "colors";

// Pages
@import "pages/services";
@import "pages/post";
@import "pages/contact";

// Slider
@import "wallop";
