<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <div class="page-wrapper">
    {% include page-hero.html %}

    <div class="container mb-5 mt-5 pb-5">
      <div class="prose measure-wide">
        <div class="career-post mb-4">
          {% for item in site.careers %}
            <h3>{{ item.title }}</h3>

            {{ item.content | markdownify }}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="container contact-wrapper">
      {% include workform.html %}
    </div>

  </div>
  {% include footer.html %}
</body>
</html>
