<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <div class="page-wrapper">
    {% include page-hero.html %}

    <div class="container contact-wrapper">
      <h1>Contact form</h1>
      <hr>

      <form name="contact" action="thank-you" netlify>
        <div class="form-group">
          <label>Name</label>
          <input type="text" for="name">
        </div>

        <div class="form-group">
          <label>Company</label>
          <input type="text" for="company">
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="text" for="email">
        </div>

        <div class="mt-4">
          <button type="submit" class="btn">Send</button>
        </div>
      </form>

      <div class="contact-footer">
        <h2 class="text-accent">Want to learn more?</h2>
        <p class="h3">Follow us on social media. <span><img src="/images/arrow.svg" alt=""></span></p>
      </div>
    </div>

  </div>
  {% include footer.html %}
</body>
</html>
