<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <div class="page-wrapper">
    {% include page-hero.html %}

    <div class="container contact-wrapper">
      <h1>Contact form</h1>
      <hr>

      <form name="contact" action="thank-you" netlify>
        <div class="input-group">
          <input type="text" name="name" placeholder="Name">
          <span class="form-bottom"></span>
          <span class="form-left"></span>
          <span class="form-right"></span>
        </div>

        <div class="input-group">
          <input type="text" name="company" placeholder="Company">
          <span class="form-bottom"></span>
          <span class="form-left"></span>
          <span class="form-right"></span>
        </div>

        <div class="input-group">
          <input type="text" name="email" placeholder="Email">
          <span class="form-bottom"></span>
          <span class="form-left"></span>
          <span class="form-right"></span>
        </div>

        <div class="mt-6">
          <button type="submit" class="btn">Send</button>
        </div>
      </form>

      <div class="contact-footer">
        <h2 class="text-accent">Want to learn more?</h2>
        <p>Follow us on social media. <span><img src="/images/arrow.svg" alt=""></span></p>
      </div>
    </div>

  </div>
  {% include footer.html %}
</body>
</html>
