<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Innovent</title>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/basscss@8.0.3/css/basscss.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700" rel="stylesheet">
</head>
<body>
  <div class="page-wrapper">
    {% include hero.html %}
    {% include home/feature.html %}
    
    {% include work.html %}
  </div>
  {% include footer.html %}
</body>
</html>