<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <div class="page-wrapper">
    {% include hero.html %}
    {% include home/feature.html %}

    <div class="container">
      <hr>

      <div class="about">
        <div class="about-left">
          <img src="/images/about-star.svg" alt="" class="expand">
        </div>
        <div class="about-right">
          <h1 class="pa-0">{{ page.about.title }}</h1>

          <hr>

          <h2 class="h3 mb-3">Innovent</h2>
          <p class="mb-1">[in-uh-vent]<span class="about-vert-spacer">|</span>Noun</p>
          <p class="text-light mb-4">{{ page.about.meaning }}</p>

          <div class="about-copy">
            {{ page.about.text | markdownify }}
          </div>
        </div>
      </div>
    </div>

    {% include work.html %}

    {% include clients.html %}
  </div>
  {% include footer.html %}
</body>
</html>
