<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <div class="page-wrapper">
    {% include nav.html %}

    <div class="post-content">
      <div class="post-images">
        <!--FULL WIDTH-->
        <div class="image-row">
          <div class="img-1 square" style="background-image: url('{{ page.images[0] }}')"></div>
        </div>

        <!--HALF WIDTH-->
        <div class="image-row">
          <div class="image-col">
            <div class="img-1 square" style="background-image: url('{{ page.images[1] }}')"></div>
          </div>
          <div class="image-col">
            <div class="img-1 square" style="background-image: url('{{ page.images[2] }}')"></div>
          </div>
        </div>

        <!--HALF WIDTH-->
        <div class="image-row">
          <div class="image-col">
            <div class="img-1 square" style="background-image: url('{{ page.images[3] }}')"></div>
          </div>
          <div class="image-col">
            <div class="img-1 square" style="background-image: url('{{ page.images[4] }}')"></div>
          </div>
        </div>

        <!--FULL WIDTH-->
        <div class="img-1 square" style="background-image: url('{{ page.images[5] }}')"></div>
      </div>

      <div class="post-copy">
        <h1 class="post-desc">{{ page.description }}</h1>
        <h2 class="post-title">{{ page.title }}</h2>
        <hr class="post-hr">

        <div class="prose">
          {{ content }}
        </div>

        <div class="mt-6 mb-5">
          <h5 class="mb-1">Attendee type:</h5>
          {{ page.attendee }}
        </div>

        <div class="mb-5">
          <h5>Services:</h5>
          {{ page.services }}
        </div>

        <div class="mb-6">
          <h5>Years of our involvement:</h5>
          {{ page.years }}
        </div>

        <h4 class="text-accent mb-2">Event at-a-glance:</h4>
        {{ page.glance_text | markdownify }}
      </div>
    </div>

  </div>
  {% include footer.html %}
</body>
</html>
