<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <div class="page-wrapper">
    {% include page-hero.html %}

    <div class="container mt-5">
      <div class="services-image">
        <img src="/images/services.svg" alt="Available Services">
      </div>

      <div class="prose measure-wide">
        {{ content }}
      </div>

      <div class="services-wrapper flex">
        <!--START LEFT COLUMN-->
        <div class="services-left">
          <h2 class="mb-2">{{ page.stategy.title }}</h2>
          <h3 class="mb-4">{{ page.stategy.subtitle }}</h3>

          {{ page.stategy.text | markdownify }}

        </div>
        <!--/END LEFT COLUMN-->

        <!--START RIGHT COLUMN-->
        <div class="services-right">
          <h2 class="mb-2">{{ page.implementation.title }}</h2>
          <h3 class="mb-4">{{ page.implementation.subtitle }}</h3>

          {{ page.implementation.text | markdownify }}


        </div>
        <!--/END RIGHT COLUMN-->
      </div>
      <!--END SERVICE WRAPPER-->

    </div>

  </div>
  {% include footer.html %}
</body>
</html>
