<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <div class="page-wrapper">
    {% include page-hero.html %}

    <div class="container mt-5">
      <div class="prose measure-wide">
        {{ content }}
      </div>

      <div class="services-wrapper flex">
        <!--START LEFT COLUMN-->
        <div class="services-left">
          <h2 class="mb-2">Strategy</h2>
          <h3 class="mb-4">Constructing the Innovent Continuum.</h3>

          <p><strong>Event Goals and Objectives</strong></p>

          <ul>
            <li>Clearly Defined Goals and Objectives</li>
            <li>Determine How ROI Will Be Measured</li>
          </ul>

          <p><strong>Messaging Architecture</strong></p>

          <ul>
            <li>Target Audience Insights</li>
            <li>Key Takeaway Message</li>
            <li>Supporting Messages</li>
          </ul>

          <p><strong>Brand Infusion Development</strong></p>

          <ul>
            <li>Brand Identity Board</li>
            <li>Brand Assets
              <ul>
                <li>Templates (Presentation, Email, Letterhead)</li>
                <li>Badges</li>
                <li>Lanyards</li>
                <li>Onsite Signage Templates</li>
                <li>Event App Designs</li>
              </ul>
            </li>
          </ul>

          <p><strong>Innovent Continuum</strong></p>

          <ul>
            <li>Key Messages for:
              <ul>
                <li>Communication Plan</li>
                <li>Registration Website</li>
                <li>Speaker Presentations</li>
              </ul>
            </li>
            <li>Recommendations for:
              <ul>
                <li>Agenda/General Session Run of Show</li>
                <li>Onsite Collateral</li>
                <li>Onsite Engagement Initiatives</li>
                <li>Post-event Initiatives</li>
              </ul>
            </li>
            <li>ROI Measurement Plan</li>
          </ul>


        </div>
        <!--/END LEFT COLUMN-->

        <!--START RIGHT COLUMN-->
        <div class="services-right">
          <h2 class="mb-2">Implementation</h2>
          <h3 class="mb-4">Roadmap for putting the Innovent Continuum into action.</h3>

          <p class="mb-4"><strong>Deliverables include content, design and execution</strong></p>

          <p><strong>Pre-event</strong></p>

          <ul>
            <li>Communication Plan</li>
            <li>Registration Website (using a third-party software provider)</li>
            <li>Event App (using a third-party software provider)</li>
            <li>Agenda</li>
            <li>Event Dress (All Onsite Signage)</li>
            <li>Onsite Collateral</li>
            <li>Sponsorship Guide</li>
            <li>Speaker Packets</li>
            <li>Presentation Development</li>
            <li>Video Development (using a third-party production team)</li>
            <li>Onsite Engagement Initiatives</li>
            <li>Stage, Set Design and Renderings</li>
            <li>Technical Drawings and Design (using a third-party production team)</li>
            <li>Vendor Management</li>
          </ul>

          <p><strong>Onsite</strong></p>

          <ul>
            <li>Event App Communication Plan</li>
            <li>Event App Management</li>
            <li>Event Dress Management (All Onsite Signage)</li>
            <li>Vendor Management</li>
            <li>Stage/Show Flow Management (Run of Show)</li>
            <li>Presentation Plans</li>
            <li>Presentation Editing</li>
            <li>Music, Lighting, Color Design</li>
            <li>Production Operations and Logistics</li>
            <li>Audio Visual Services and Staging (using a third-party production team)</li>
          </ul>

          <p><strong>Post-event</strong></p>

          <ul>
            <li>Communication Plan</li>
            <li>Post-event Survey</li>
            <li>ROI and Insights Report</li>
            <li>Collateral Recommendations</li>
            <li>Integrated Marketing Recommendations</li>
          </ul>


        </div>
        <!--/END RIGHT COLUMN-->
      </div>
      <!--END SERVICE WRAPPER-->

    </div>

  </div>
  {% include footer.html %}
</body>
</html>
