<div class="container">
  <section class="flex justify-between c-feature-wrapper">
    <div class="flex c-feature">
      <div class="mr-4">
        <img src="/images/home/chess-icon.svg" alt="Strategy">
      </div>
      <div>
        <h2 class="h3 mb-3">Strategy becomes action</h2>
        <p>Proactive, flexible and always strategic ... our proven processes are designed to maximize ROI.</p>
      </div>
    </div>

    <div class="flex c-feature">
      <div class="mr-4">
        <img src="/images/home/light-icon.svg" alt="Creativity">
      </div>
      <div>
        <h2 class="h3 mb-3">Creativity that inspires</h2>
        <p>Our creative serves a purpose. We develop and deploy ideas around your objectives and strategy to produce a lasting impression for attendees.</p>
      </div>
    </div>

    <div class="flex c-feature">
      <div class="mr-4">
        <img src="/images/home/circle-icon.svg" alt="Execution">
      </div>
      <div>
        <h2 class="h3 mb-3">Execution made easy</h2>
        <p>Through skilled management, we bring the strategy and creative to life in ways that drive action across every aspect of the event.</p>
      </div>
    </div>
  </section>
</div>
